/*body{
	background: url("https://images.unsplash.com/photo-1600577688596-b7d39d656b91?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80");
}*/

h1{
	color: white;
	text-align: center;
	font-weight: 1000;
}

h2{
	text-align: center;
	font-weight: 1000;
}
footer{
	background-color: #343A40;

	bottom: 0;
	color: white;
	width: 100%;
	text-align: center;
	left: 0px;
	

}
/*
.redes{
	text-indent: 100px;
}
*/

#index p{
	color: white;
	padding: 6em;
	text-align: center;
	font-weight: 800;
}

header{
	background-color: #343A40;
}
header a{
	font-weight: 600;
}

.navbar-nav { 
	margin-left: auto; 

} 

/*
.container{
	background-color: rgba(255, 255, 255, 0.5);
	height: 100%;
}
*/
.header .navbar {
	background-color: transparent !important;
  }

#container_intro{
	padding: 5em;
}