.header{
	color: beige;
}

#index{
	background-image: url('https://images.unsplash.com/photo-1600577688596-b7d39d656b91?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80');
}

#container-intro{
	padding: 5em;
}



#index{
	color: white;
}

.navbar-nav { 
	margin-left: auto; 

} 

#foto_estudios{
	height: 400px;
	width: 600px;
}

#css-foto{
	height: 400px;
	width: 400px;
}

#js-foto{
	height: 400px;
	width: 400px;
}



#django-foto{
	height: 300px;
	width: 700px;
}

footer{
	background-color: #343A40;
	bottom: 0;
	color: white;
	width: 100%;
	text-align: center;
	left: 0px;
	

}